[Unit]
Description=lora-tx

[Service]
ExecStart=/home/pi/rpi-lora/server/index.js
Restart=always
User=pi
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/pi/rpi-lora/

[Install]
WantedBy=multi-user.target