[Unit]
Description=lora-rx

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/rpi-lora/scripts/receive-lora.py
Restart=always
User=pi
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/pi/rpi-lora/

[Install]
WantedBy=multi-user.target